<phpunit colors="true" stopOnFailure="false" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="all">
      <file>tests/SqliteConstructorTest.php</file>
      <file>tests/TableManagerSqliteTest.php</file>
      <file>tests/MysqlConstructorTest.php</file>
      <file>tests/TableManagerMysqlTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>